<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbase">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Feature.splash.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".Feature.intro.IntroScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Feature.language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Feature.language.LanguageStartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Feature.home.HomeScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Feature.setting.SettingScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Feature.about.AboutScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>